
.transaction{
    translate: 0 70px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: all ease 0.5s;
}
.transaction.shrink{
    max-width:  calc(100% - 165px)  ;
    width: calc(100% - 165px);
    translate: 155px 70px;

}
tr{
    height: 1.75rem;
    
}
.table{
    
    display: flex;
    flex-wrap: wrap;
}
table{
    width: fit-content;
    border: none;
}

td{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
}
