.home{
    translate: 0 70px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: all ease 0.5s;
}
.home.shrink{
    max-width:  calc(100% - 165px)  ;
    width: calc(100% - 165px);
    translate: 155px 70px;
}
.row{
    justify-content: space-between;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-cards{
    padding: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.5);
    min-width: 500px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 10px;
    color: #333;
    font-size: 1.2rem;
    text-align: center;
}
.cards{
    flex: 0.5;
    padding: 1.5rem;
    border-radius: 10px;
    color: #333;
    font-size: 1rem;
    text-align: center;
}

.income-card{
    background-color: var(--color-income-light);
    box-shadow: 0 0px 6px var(--color-income-light);
    color: var(--color-income);
}
.income-card p{
    color: var(--color-income);
}
.expense-card{
    box-shadow: 0 0px 6px var(--color-expense-light);
    background-color: var(--color-expense-light);
    color: var(--color-expense);
}
.expense-card p{
    color: var(--color-expense);
}
.testdivs{
    height: 200px;
    background-color: #333;
    margin: 5px;
}
.cards li{
 justify-self: left;
}
.cards ol{
    justify-self: left;
    padding-left: 1rem;
}
.cards h3{
    margin:5px;
    color: #333;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards .lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#addtransactiononcards{
    position: relative;
    left: calc(100% - 8rem);
    border-radius: 3px;
    font-size: 1rem;
    width: auto;
    max-width: fit-content;
    border: none;
    background-color: var(--color-income-light);
    color: var(--color-income);
    transition: all 0.5 ease;
}

#addtransactiononcards:hover{
    background-color: var(--color-income);
    color: white;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.5);
    translate: 0 -2px;
    
}
#addtransactiononcards:active{
    box-shadow: 0 0px 0px rgb(0, 0, 0, 0.5);
    translate: 0 2px;
}
.row .left{
    width :50%;
}
.row .right{
    width :40%;
    flex-grow: 1;
}