:root{
  --color-income : rgb(76, 175, 80);
  --color-expense : rgb(244, 67, 54);
  --color-neutral : rgb(33, 150, 243);
  --color-income-light : rgb(76, 175, 80, 0.2);
  --color-expense-light : rgb(244, 67, 54, 0.2);
  --color-neutral-light : rgb(33, 150, 243, 0.2);
}
body {
  margin: 0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  padding-top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: (0,0,0,0);
}
section{
  background-color: ivory;
  padding: 5px;
  border-width: 2px;
  border-color: var(--color-income);
}