:root{
  --color-income : rgb(76, 175, 80);
  --color-expense : rgb(244, 67, 54);
  --color-neutral : rgb(33, 150, 243);
  --color-income-light : rgb(219, 239, 220);
  --color-expense-light : rgb(244, 67, 54, 0.2);
  --color-neutral-light : rgb(33, 150, 243, 0.2);
}
body {
  margin: 0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  padding-top: 0;
  text-transform: capitalize;
}

button{
  border-radius: 3px;
  font-size: 1rem;
  padding: 5px;
  border: none;
  background-color: var(--color-income-light);
  color: var(--color-income);
  transition: all 0.5 ease;
}

button:hover{
  background-color: lightgreen;
  color: white;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.5);
  
}
button:active{
  box-shadow: 0 0px 0px rgb(0, 0, 0, 0.5);
  translate: 0 2px;
}
.cardbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px lightgray;
  border-radius: 10px;
  box-shadow: 0 0px 6px var(--color-income-light);
  background-color: white;
  color: var(--color-income);
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: (0,0,0,0);
}
section{
  background-color: ivory;
  padding: 5px;
  border-width: 2px;
  border-color: var(--color-income);
}